
.child1{
    grid-area: logo;
    
    
}

.child2{
    grid-area: home;
   
}
.child3{
    grid-area: service;
}

.child4{
    grid-area: about;
}
.child5{
    grid-area: contact;
}

.container{
    padding: 20px;
    grid-template-areas: 'logo logo logo home service about contact' ;
    display: grid;
    gap: 10px ;
    

    position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-around;
  margin-left: -10px;
   
    
   

}

div>div{
    padding: 5px ;
    text-align: center;
    font-size: 20px;
    
    width: auto;
    color: white;
    background-color: rgb(127, 114, 114);
  
   

}
*{
    padding: 0px;
    margin: 0px;
    width: auto;
}

.main{
    height: 200vh;
    width: auto;
}


.image{

    background-image:linear-gradient(to left,transparent,rgba(0,0,0,0.8)) ,url(./images/front_image.jpg);
    background-size: cover;
   
    background-size: 100% 100%;

}

.container >div:hover{
    color: red;
   
}