.fa-cart-arrow-down{
    font-size: 30px;
}

.btn{
    font-size: 30px;
    color:green;
}

.fa-star{
    color: gold;
    font-size: 25px;

}

p{
    font-size: 25px;
}
a{
    font-size: 30px;
}

.fa-google{
    color:red;
}