.calender{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 30px repeat(5 ,75px);
   gap: 20px 10px;

    
}

.date ,.day{
    background-color: skyblue;
    color: black;
    font-size: 2em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.day{
    font-size: 1.5em;

}

.other_month ,.day{
    background-color: lightgray;
}